@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #191a23;
        --primary: #1da1f2;
        --primary-foreground: #000000;
        --card: #f3f3f3;
        --border: #191a23;
        --radius: 0.5rem;
    }
    .dark {
        --background: #191a23;
        --foreground: #ffffff;
        --primary: #1da1f2;
        --primary-foreground: #000000;
        --card: #292a32;
        --border: #ffffff;
    }
    body,
    html {
        @apply bg-background text-foreground font-sans antialiased transition-colors duration-300;
        margin: 0;
        overflow-x: hidden;
    }
}
