@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fdfdfd;
        --foreground: #191a23;
        --primary: #5a3df4;
        --primary-foreground: #ffffff;
        --card: #ffffff;
        --border: #191a23;
        --radius: 0.5rem;
        --shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    }
    .dark {
        --background: #111116;
        --foreground: #ececec;
        --primary: #7c65ff;
        --primary-foreground: #ffffff;
        --card: #191a23;
        --border: #ececec;
        --shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
    }
    body,
    html {
        @apply bg-background text-foreground font-sans antialiased transition-colors duration-200;
        margin: 0;
        overflow-x: hidden;
    }
}
